<h1>What Event Would You Like to Join?</h1>

<% if @events.empty? %>
  <h2>No Current Events</h2>
<% else %>
  <ul>
  <% @events.each do |event| %>
    <li style="list-style:none">
      <%= event.id %>
      <% flash.each do |name, msg| %>
        <%= content_tag :h2, name %>
        <%= content_tag :h2, msg, class:name %>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>
