<h1>
  This event is:
  <%= @event.name %>
  </h1>

<h2>
  Where?
  <%= @event.place %></h2>

<h3>
  And when?
  <%= @event.event_date %></h3>

<h3>
  Wanna Come?
  <%= link_to "Join Event", new_events_to_attend_path %>